figure {
	width: 100%;
	height: 100vh;
	background-color: rgb(33, 187, 187);
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 10vh 0px;

	.swiper {
		height: 100%;
		.swiper-wrapper {
			height: inherit;
			.swiper-slide {
				height: inherit;
				background-color: #fff;
				transform: scale(0.8);
				transition: 0.3s all ease;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.swiper-slide-active {
				opacity: 1;
				transform: scale(1);
			}

			.swiper-slide-prev,
			.swiper-slide-next {
				opacity: 0.5;
				transform: scale(0.8);
			}
		}
	}
}
