* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111;
	font-family: 'nanum myeongjo';
}
:root {
	--boxGap: 40px;
	--countColumn: 2
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
}
html {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: lightsalmon;
	}
}
