@import '/src/styles/Variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

header {
	width: 100%;
	padding: 30px 15vw;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	h1 {
		font: bold 1.3rem/1 'nanum myeongjo';
		color: #222;
	}

	ul {
		display: flex;
		gap: 30px;
		align-items: center;
		li a {
			color: #555;
			&.on {
				color: purple;
				font-weight: 600;
			}
		}
	}
}

header.main {
	width: 100%;
	padding: 5vh 10vw;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 2;
	border-bottom: none;
}